.checkoutProduct {
    display:flex;
    margin: 20px 0;
}

.checkoutProduct__info {
    padding-left: 20px;
    padding-right:5px;
    width: 250px;  
}

.checkoutProduct__priceInfo {
    padding-left: 5px;
    border-left: 1px solid black;
}

.checkoutProduct__priceInfo > h3 {
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 10px;
}

.checkoutProduct__priceInfo > strong {
    font-size: 14px;
}

.checkoutProduct.fadeOut {
    animation: fadeOut 0.5s;
    -webkit-animation: fadeOut 0.5s;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0)
    }

    to {
        opacity: 0;
        transform: translateX(40px)
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0)
    }

    to {
        opacity: 0;
        transform: translateX(40px)
    }
}

.checkoutProduct__options {
    margin-top: 10px;
}

.checkoutProduct__options > select{
    margin-right: 10px;
}

.checkoutProduct__info > .checkoutProduct__options > button {
    background: #f0c14b;
    border: 1px solid;
    border-color: #a99734 #9c7e31 #846a29;
    color: #111
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}