.result__header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 10px #ddd;
    background-color: #fff;
}

.result__header > span {
    font-size: 13px;
    font-weight: 400;
}

.result__header > select {
    background-color: #e7e9ec;
}

.result__products > div {
    width: 95%;
    margin: 20px 25px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px #ddd;
}

/* react pagination styling */

.pagination {
    display:flex;
    padding-left: 0;
    justify-content: center;
    margin: 10px;
}

.pagination > li {
    list-style: none;
}

.pagination > li:nth-child(2){
    border-left: 1px solid #6c6e73;
}

.pagination__pages {
    margin: 0 3px;
}

.pagination__pages, 
.pagination__prev,
.pagination__next {
    padding: 5px 10px;
    border: 1px solid #6c6e73;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
    cursor: pointer;
} 

.pagination__next {
    margin-left: 10px;
}

.pagination__prev {
    margin-right: 10px;
}

.pagination li.pagination__active {
    font-weight: 700;
    background-color: #fff;
    color: #c45500;
    border-color: #e77600;
}

.pagination__link, .pagination__linkPrev, .pagination__linkNext {
    outline: none;
}



